* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
    font-family: 'Manrope', sans-serif;
  height: 100vh;
  background-color: #ecf2f8;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrapper {
  display: flex;
}

.drawers {
  max-height: 600px;
  max-width: 350px;
  display: block;
  border-radius: 10px 0px 0px 10px;
}

.text-section {
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  border-radius: 0px 10px 10px 0px;
}

h1 {
  font-size: 1.2rem;
  color: #48556a;
  padding-top: 10px;
}
p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #7d8da2;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar {
  width: 60px;
  border-radius: 50%;
}

strong {
  color: #48556a;
}
span {
  color: #7d8da2;
}

.user-avatar span {
  display: block;
}

li button {
  border: 0;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.tooltip-items {
  background-color: #48556a;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  color: #ecf2f8;
  position: absolute;
  top: 110px;
  right: -50px;
  display: none;
}
.tooltip-items.ativo {
  display: flex;
}
.tooltip-items::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #48556a;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.share-icon ul li img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

@media (max-width: 975px) {
  .flex-wrapper {
    flex-direction: column;
  }
  .text-section {
    width: 350px;
    border-radius: 0px 0px 10px 10px;
  }

  .drawers {
    border-radius: 10px 10px 0px 0px;
  }

  h1 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .tooltip-items {
    top: 220px;
    width: 100%;
    right: 0;
    padding: 30px;
  }
  .tooltip-items::before {
    display: none;
  }
  button {
    margin-top: 25px;
    padding: 5px;
  }

  br {
    display: none;
  }
}